@import 'normalize.css';

.App {
    /* background: url('https://wallpaperaccess.com/full/2638338.jpg')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: rgb(233, 245, 250);
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9c27b0;
    border-radius: 10px;
  }
  